In [6]:
import pandas as pd
import numpy as np

In [2]:
myList = [['Apple','Red'],['Banana','Yellow'],['Orange','Orange']]

In [5]:
myDataFrame = pd.DataFrame(myList, columns=['Fruit','Color'])
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [21]:
mylist = np.array([[0,1],
                    [2,3],
                    [4,5]])

TypeError: 'list' object is not callable

In [20]:
myDataFrame = pd.DataFrame(mylist, columns=['even','odd'])
myDataFrame

NameError: name 'mylist' is not defined