In [3]:
import pandas as pd

DataFrame létrehozása: szótárba rendezett listák, pd.DataFrame - df létrehozása

In [4]:
data = {
    'Nev': ['Anna', 'Janika', 'Zsóti'],
    'Kor': [22, 11, 45],
    'Város': ['Budapest', 'Debrecen', 'Szeged']
}

df = pd.DataFrame(data)
print(df)

      Nev  Kor     Város
0    Anna   22  Budapest
1  Janika   11  Debrecen
2   Zsóti   45    Szeged

In [5]:
data = {
    'Márka': ['Fender', 'Gibson', 'Ibanez'],
    'Minőség': ['Jó', 'Majdnem jó', 'Néha jó'],
    'Ár': ['Drága', 'Nagyon drága', 'Sokféle']
}

df = pd.DataFrame(data)

print(df)

    Márka     Minőség            Ár
0  Fender          Jó         Drága
1  Gibson  Majdnem jó  Nagyon drága
2  Ibanez     Néha jó       Sokféle

Adatok betöltése (read_csv, read_excel, read_sql)

In [ ]:
df = pd.read_csv('artist.csv') # nyilván itt érdemes első sorban relative path-el szolgálni (r"C:\Users\diefi\Documents\GitHub\Python_learn\Python_data_science\artist.csv")

df

     artist_id                                               name
0            1                                              AC/DC
1            2                                             Accept
2            3                                          Aerosmith
3            4                                  Alanis Morissette
4            5                                    Alice In Chains
..         ...                                                ...
270        271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271        272                             Emerson String Quartet
272        273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273        274                                      Nash Ensemble
274        275                              Philip Glass Ensemble

[275 rows x 2 columns]

DataFrame szerkezetének megismerése(df.shape, df.head(), df.tail(), df.columns, df.dtypes, df.info(), df.describe(),)

In [ ]:
print(df.shape) # megmutatja a sorok és oszlopok számát

(275, 2)

In [9]:
print(df.head()) # megmutat adott számú példát a df elejéről
print(df.tail()) # megmutat adott számú példát a df végéről

   artist_id               name
0          1              AC/DC
1          2             Accept
2          3          Aerosmith
3          4  Alanis Morissette
4          5    Alice In Chains
     artist_id                                               name
270        271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271        272                             Emerson String Quartet
272        273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273        274                                      Nash Ensemble
274        275                              Philip Glass Ensemble

In [ ]:
print(df.columns) # megmutatja az oszlopok neveit
print(df.dtypes) # megmutatja az adattípusokat

Index(['artist_id', 'name'], dtype='object')
artist_id     int64
name         object
dtype: object

In [12]:
print(df.info()) # általános info a dataframe-ről (column, non-null count, Dtype)
print(df.describe()) # numerikus oszlopok statisztikai összegzése (count, mean, std, min, 25%, 50%, 75%, max)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   artist_id  275 non-null    int64
 1   name       275 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.4+ KB
None
        artist_id
count  275.000000
mean   138.000000
std     79.529869
min      1.000000
25%     69.500000
50%    138.000000
75%    206.500000
max    275.000000

In [ ]:
df['name'] # oszlop kiválasztás

0                                                  AC/DC
1                                                 Accept
2                                              Aerosmith
3                                      Alanis Morissette
4                                        Alice In Chains
                             ...
270     Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271                               Emerson String Quartet
272    C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273                                        Nash Ensemble
274                                Philip Glass Ensemble
Name: name, Length: 275, dtype: object

In [ ]:
df[['artist_id', 'name']] # több oszlop kiválasztása

     artist_id                                               name
0            1                                              AC/DC
1            2                                             Accept
2            3                                          Aerosmith
3            4                                  Alanis Morissette
4            5                                    Alice In Chains
..         ...                                                ...
270        271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271        272                             Emerson String Quartet
272        273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273        274                                      Nash Ensemble
274        275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [ ]:
df.loc[1] # adott sor kiválasztása index alapján

artist_id         2
name         Accept
Name: 1, dtype: object

In [ ]:
df.loc[1, 'name'] # második sor Name oszlopa

'Accept'

In [20]:
data = {
    'Márka': ['Fender', 'Gibson', 'Ibanez'],
    'Minőség': ['Jó', 'Majdnem jó', 'Néha jó'],
    'Ár': ['Drága', 'Nagyon drága', 'Sokféle']
}

df = pd.DataFrame(data)

print(df)

    Márka     Minőség            Ár
0  Fender          Jó         Drága
1  Gibson  Majdnem jó  Nagyon drága
2  Ibanez     Néha jó       Sokféle

In [23]:
df['Mennyire'] = [165, 180, 175]  # oszlop hozzáadása

df

    Márka     Minőség            Ár Szeretem-e  Mennyire
0  Fender          Jó         Drága       Igen       165
1  Gibson  Majdnem jó  Nagyon drága       Igen       180
2  Ibanez     Néha jó       Sokféle       Igen       175

In [25]:
df['Mennyire'] = df['Mennyire'] + 15 # oszlop érték módosítás - mindegyiké

df

    Márka     Minőség            Ár Szeretem-e  Mennyire
0  Fender          Jó         Drága       Igen       195
1  Gibson  Majdnem jó  Nagyon drága       Igen       210
2  Ibanez     Néha jó       Sokféle       Igen       205

In [29]:
df = df.rename(columns={'Minőség': 'Milyenség'})  # oszlopnév módosítás

df

    Márka   Milyenség            Ár Szeretem-e  Mennyire
0  Fender          Jó         Drága       Igen       195
1  Gibson  Majdnem jó  Nagyon drága       Igen       210
2  Ibanez     Néha jó       Sokféle       Igen       205